body {
   margin: 0;
   padding:0;
   font-family: 'Roboto';
}
main {
    padding: 16px;
}
img {
    height: 200px;
}
title {
    font-style: 'Lora';
}
footer {
    padding:24px 0px;
    width:100%;
    position: absolute;
    background-color: rgb(187,205,116);
}

nav {
    padding: 16px;
    border-bottom: 1px inset black;
    background-color: rgb(238,101,67);
    color: white;
}

a {
    color:rgb(83,126,70);
    text-decoration: none;
}
b {
    color:white;
    text-decoration: none;
    font-family: 'Alkalami';
}

h1 {
    color:rgb(45,96,83)
}

.four-by-one {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}
.white {
    color: white;
    font-style: normal;
    font-size: large;
}
.add-space {
    padding-left: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
}
tr:nth-child(even) {
    background-color: rgb(229,229,229);
}
